{% extends "admin/base.html" %}
{% load static %}
{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
{% block extrastyle %}

<link href="{% static 'admin/css/bootstrap-tour-standalone.min.css' %}" rel="stylesheet">
<link href="{% static 'admin/css/jquery-ui.min.css' %}" rel="stylesheet">
<link href="{% static 'admin/css/jquery-ui.structure.min.css' %}" rel="stylesheet">
{% endblock %}
{% block extrahead %}
<script src="{% static 'admin/js/jquery.min.js' %}"></script>
<script src="{% static 'admin/js/bootstrap-tour-standalone.min.js' %}"></script>
<script src="{% static 'admin/js/jquery-ui.min.js' %}"></script>

<script>



    $(document).ready(function () {

    });
    function startTour() {
        var l = $(location).attr('href');
        var s = l.substr(l.length - 6, 6);
        if (s == 'admin/') {
                var tour = new Tour({
                    steps: [
                        {
                            element: ".app-auth",
                            title: "Add Users",
                            content: "To give someone else access to this admin dashboard, click the plus button next to Users. "
                        },
                        {
                            element: ".model-survey",
                            title: "Add a survey",
                            content: "Use this link to view your current surveys, create a new survey, or change a survey.  From here you can add and remove questions and choices."
                        },
                        {
                            element: ".model-survey",
                            title: "Alter the survey questions",
                            content: "To add questions to the survey, click the Add button.  To edit questions, click the Change button."
                        },
                        
                    ]
                });

                // Initialize the tour
                tour.init();

                // Start the tour
                tour.start();
                return true;
            
        }
    }






</script>


{% endblock %}
{% block userlinks %}
                {% if site_url %}
<a href="{{ site_url }}">{% trans 'View survey' %}</a> /
                {% endif %}
                {% if user.is_active and user.is_staff %}
                    {% url 'django-admindocs-docroot' as docsroot %}
                    {% if docsroot %}
<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
                    {% endif %}
                {% endif %}
                {% if user.has_usable_password %}
<a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
                {% endif %}
<a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a> /
<a onclick="startTour()">Take the Tour</a>
{% endblock %}

{% block title %}{{ title }} | {{ site_title|default:_('CAP Dutchess') }} {% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('CAP Dutchess') }}</a></h1>
{% endblock %}
{% block content %}


{% endblock %}



