{% extends "admin/base.html" %}
{% load static %}
{% block extrastyle %}

<link href="{% static 'admin/css/bootstrap-tour-standalone.min.css' %}" rel="stylesheet">
<link href="{% static 'admin/css/jquery-ui.min.css' %}" rel="stylesheet">
<link href="{% static 'admin/css/jquery-ui.structure.min.css' %}" rel="stylesheet">
{% endblock %}
{% block extrahead %}
<script src="{% static 'admin/js/jquery.min.js' %}"></script>
<script src="{% static 'admin/js/bootstrap-tour-standalone.min.js' %}"></script>
<script src="{% static 'admin/js/jquery-ui.min.js' %}"></script>
<!--
<script>
    
        
    
    $(document).ready(function () {
        var ret = confirm("Would you like to take the tour?");
        if (ret == true) {
            var tour = new Tour({
                steps: [
                    {
                        element: ".app-auth",
                        title: "Add Users",
                        content: "To give someone else access to this admin dashboard, click the plus button next to Users. "
                    },
                    {
                        element: ".model-question",
                        title: "Alter the survey questions",
                        content: "To add questions to the survey, click the Add button.  To edit questions, click the Change button."
                    },
                    {
                        element: ".model-choice",
                        title: "Add Choices",
                        content: "You can add choices when you create a question, but if you want to add another choice after you have left the question creation screen, you can click the Add button next to choices.  This will bring you to a new screen and prompt you to select the question that you want to add choices to."
                    },
                ]
            });

            // Initialize the tour
            tour.init();

            // Start the tour
            tour.start();
            return true;
        } else {
            return false;
        }
    }); 







</script>-->

{% endblock %}
{% block header %}
<button type="button" onclick="start_tour()">Take the Tour</button>
{% endblock %}
{% block title %}{{ title }} | {{ site_title|default:_('Dutchess CAP') }} {% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Dutchess CAP') }}</a></h1>
{% endblock %}
{% block content %}


{% endblock %}

{% block nav-global %}{% endblock %}

