a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.choices {
position: relative;
}

.questions {
position: absolute;
}
