{% extends "base_generic.html" %}
{% block content %}
<h1>About Cash Coalition</h1>
<p>
    For more information on joining the Hudson Valley CA$H Coalition contact: <br>
Linda Eddy - (845) 475-7500<br>
leddy@dutchesscap.org
</p>
<h2>What is the Hudson Valley CASH Coalition</h2>
<p>The Hudson Valley CA$H Coalition (Creating Assets, Savings and Hope) is dedicated to helping families and individuals in the Hudson Valley save money and improve their financial stability. The coalition provides free federal and state tax preparation for taxpayers living in New York counties of Dutchess and Orange. To ensure the quality of the service, tax preparers receive many hours of training and are certified by the U.S. Internal Revenue Service. In 2018, over 7,797 tax returns were prepared and filed in Orange and Dutchess counties. </p>
{% endblock %}