{% extends 'base_generic.html' %}

<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script>

    var qs = {{ questions }};
    var q = "";
    var qid;
    var cs = {{ choices }};
    var resps = {};
    var responses = {{ responses }};
    var num_responses = {{ responses| length}};
    $(document).ready(function () {
        $('#question_select').change(function () {
            q = $('#question_select').val();
            for (var i = 0; i < qs.length; i++) {
                if (qs[i].response_text == q) {
                    qid = qs[i].qid;
                }
            }
            for (var i = 0; i < cs.length; i++) {
                if (cs[i].qid == qid) {
                    resps.push({ key: '' + cs[i].choice_text + '', value: 0 });
                }
            }
            for (var i = 0; i < responses.length; i++) {
                if (responses.qid == qid) {
                    for (var j = 0; j < resps.length; i++) {
                        if (resps[j].key == responses[i].response_text) {
                            resps[j][key] += 1;
                        }
                    }
                }
            }
            

        });
    });

   
    var answers = new Array(questions.length);
    for (var i = 0; i < answers.length; i++) {
        answers[i] = {}
    }
    for (var i = 0; i < num_responses; i++) {

    }


</script>

{% block content %}
<div class="row">
    <div class="col-sm-12" >
        <select id="question_select">
            {% for i in questions %}
            <option value="{{i}}">{{i}}</option>
            {% endfor %}

        </select>
        <select id="filter_select">
            <option value="age">Age</option>
            <option value="gender">Gender</option>
        </select>
        <canvas id="Chart" width="1600" height="900"></canvas>
    </div>
</div>
{% endblock content %}

