{% extends "base_generic.html" %}
{% block content %}
<div id="webpage">
<h1>Dutchess Cap Survey</h1>
    <div class="card">
        <div class="question"><strong id="quest">Question {{question_num}}: </strong>{{question}}<br></div>
        <form id="q_form" action="/survey/{{question_num}}/" method="POST" onsubmit="update_session()">
            {% csrf_token %}


            {% if is_multiple_choice == True and allow_multiple == False %}
            {% for i in choice %}
            <div class="radio">
                <input type="radio" id="radio-2{{i}}"name="response_text" value="{{i}}" unchecked>
                <label for="radio-2{{i}}" class="radio-label">{{i}}</label>
            </div>
            {% endfor %}

            {% elif is_multiple_choice == True and allow_multiple == True %}
            {% for i in choice %}
            <div class="checkbox">
                <input type="checkbox" id="checkbox-2{{i}}"name="response_text" value="{{i}}" unchecked>
                <label for="checkbox-2{{i}}" class="checkbox-label">{{i}}</label>
            </div>
            {% endfor %}
            {% else %}

            {{form}}

            {% endif %}

        </form>
        <div class="theButtons">
        <a class="ourButtons" id="previous" href="

           {% if question_num > 1 %}
            {% url 'index' question_num=question_num|add:-1 %}
            {% else %}
            {% url 'index' question_num=1 %}
            {% endif %}"
            >&laquo; Previous
        </a>

        <!--a radio button must be selected or a textbox must have text to proceed-->
        <a id="next" class="ourButtons" href="#" onclick="
        if($('input:radio').is(':checked') || $('input:checkbox').is(':checked') || ($('input:text').val() && $('input:text').val().length > 0)) {
            javascript:document.getElementById('q_form').submit();
        }
        else {
           alert('Please answer the question before proceeding');
        }"
        >Next &raquo;</a>

        </div>
        <script>
            function update_session() {
                var num_selected = $(":checkbox:checked").length;
                $.ajax({
                    url: '/ajax/update_session/',
                    data: {
                        'num_selected': num_selected
                    },
                    dataType: 'json'
                    
                });
            }
        </script>
        <div class="questionof"><p>Question {{ question_num }} of {{ question_count }}</p></div>
        <!--renames the next button if user is on the last question-->
        {% if question_num == question_count %}
        <script>
            $(document).ready(function () {
               $('a#next').text('Submit');
            });
        </script>
        {% endif %}

        <!--hides the previous button if user is on the last question-->
        {% if question_num == 1 %}
        <script>
            $(document).ready(function () {
                $("#previous").hide();
            });
        </script>
        {% endif %}
        
    </div>

{% endblock %}
    </div>
