{% extends "base_generic.html" %}
{% block content %}

<h1>Cash Coalition Survey</h1>
<p>Your participation in this survey is voluntary and your answers are confidential and will not- in any way- affect your eligibility to receive services from Community Action Partnership for Dutchess County. You do not have to respond to any questions that you are uncomfortable with. We appreciate you taking the time to help us!</p>
<strong>Question {{question_num}}:</strong> {{ question }}<br>
{% if is_multiple_choice == True %}
    {% for i in choice %}
      <input type="radio" name="question">{{i}}<br/>
    {% endfor %}
  {% else %}
      <form>
      Answer:<br>
        <textarea rows="4" cols="50"></textarea>
      </form>
  {% endif %}

<a class="btn-primary" id="previous" href="
  {% if question_num > 1 %}
    {% url 'index' question_num=question_num|add:-1 %}
  {% else %}
    {% url 'index' question_num=1 %}
  {% endif %}"
>&laquo; Previous</a>

<a class="btn-primary" id="next" href="
  {% if question_num < question_count %}
    {% url 'index' question_num=question_num|add:1 %}
  {% else %}
    {% url 'index' question_num=question_num %}
  {% endif %}"
>Next &raquo;</a>

<p>Question {{ question_num }} of {{ question_count }}</p>

<!--hides the next button if user is on the last question-->
{% if question_num == question_count %}
  <script>
      $(document).ready(function () {
          $("#next").hide();
      });
  </script>
{% endif %}

<!--hides the previous button if user is on the last question-->
{% if question_num == 1 %}
  <script>
      $(document).ready(function () {
          $("#previous").hide();
      });
  </script>
{% endif %}
{% endblock %}
